<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Content Controller</title>

  <script type="text/javascript" src="../Utilities/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="../Utilities/bootstrap.min.css">
  <link rel="stylesheet" href="../Utilities/bootstrap-select.min.css">
  <script type="text/javascript" src="../Utilities/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="../Utilities/bootstrap.min.js"></script>
  <script type="text/javascript" src="../JavaScript/contentController.js"></script>
  <link rel="stylesheet" type="text/css" href="CSS/degree-me.css"/>
</head>
<body>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <a href="index.html"  style="color: #F1BC00;"><img alt="Computer Science Logo" class="logo" src="Images/mcla-logo.png"><br>Computer Science</a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <form id="contentInfo" method="GET">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="content">
            <h2 id="content-controller-heading" class="heading">Content Controller</h2>
            <div class="row content-option">
              <form id="contentInfo" method="GET">
              	<select id="action" class="selectpicker" title="Select Action">
              		<option>Add</option>
              		<option>Edit</option>
              		<option>Delete</option>
              	</select>
              	<select id="type" class="selectpicker" title="Select Type">
              		<option>Concentration</option>
              		<option>Course</option>
              		<option>Prerequisite</option>
              	</select>
              </div>
            	<div id="add-concentration" class="row concentration content-option" hidden>
            		<label>Concentration Name</label>
            		<input placeholder="Concentration" type="text"></input>
            	</div>
              <div id="edit-concentration" class="row concentration content-option" hidden>
            		<label>Concentration Name</label>
                <select class="selectpicker" title="Select Concentration">
            		<input placeholder="Concentration" type="text"></input>
            	</div>
              <div id="delete-concentration" class="row concentration content-option" hidden>
            		<label>Concentration Name</label>
            		<select class="selectpicker" title="Select Concentration"></select>
            	</div>
              <div id="add-course" class="row course content-option" hidden>
                <label>Course Name</label>
                <input placeholder="Name" type="text"></input>
                <label>Course Number</label>
                <input placeholder="Number" type="text"></input>
                <label>Course Credits</label>
                <input placeholder="Credits" type="text"></input>
                <label>Concentrations</label>
                <select class="selectpicker" title="Select Concentrations" multiple></select>
                <label>Course Prerequisites</label>
                <select class="selectpicker" title="Select Prerequisites" multiple></select>
              </div>
              <div id="edit-course" class="row course content-option" hidden>
                <select class="selectpicker" title="Select Course">
            		<label>Course Name</label>
            		<input placeholder="Name" type="text"></input>
            		<label>Course Number</label>
            		<input placeholder="Number" type="text"></input>
            		<label>Course Credits</label>
            		<input placeholder="Credits" type="text"></input>
                <label>Concentrations</label>
                <select class="selectpicker" title="Select Concentrations" multiple></select>
            		<label>Course Prerequisites</label>
            		<select class="selectpicker" title="Select Prerequisites" multiple></select>
            	</div>
              <div id="delete-course" class="row course content-option" hidden>
                <select class="selectpicker" title="Select Course">
            		<label>Course Name</label>
            		<input placeholder="Name" type="text" disabled></input>
            		<label>Course Number</label>
            		<input placeholder="Number" type="text" disabled></input>
            		<label>Course Credits</label>
            		<input placeholder="Credits" type="text" disabled></input>
                <label>Concentrations</label>
                <select class="selectpicker" title="Select Concentrations" multiple disabled></select>
            		<label>Course Prerequisites</label>
            		<select class="selectpicker" title="Select Prerequisites" multiple disabled></select>
            	</div>
  
            	<div id="add-prerequisite" class="row prereq content-option" hidden>
            		<label>Prerequisite Name</label>
            		<input placeholder="Prerequisite" type="text"></input>
            	</div>
              <div id="edit-prerequisite" class="row prereq content-option" hidden>
            		<label>Prerequisite Name</label>
                <select class="selectpicker" title="Select Prerequisite">
            		<input placeholder="Prerequisite" type="text"></input>
            	</div>
              <div id="delete-prerequisite" class="row prereq content-option" hidden>
            		<label>Prerequisite Name</label>
            		<select class="selectpicker" title="Select Prerequisite"></select>
            	</div>
            </form>
            <div class="row submit">
              <div class="col-xs-4">
                <button type="button" class="btn btn-primary" value="submit" id="submit-button">Submit</button>
                <a href="index.html"><button type="button" class="btn btn-primary" value="cancel" id="cancel-button">Cancel</button></a>
              </div>
              <div class="col-xs-8"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </form>
</body>
</html>
