<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Create Account</title>

  <script type="text/javascript" src="../Utilities/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="../Utilities/bootstrap.min.css">
  <script type="text/javascript" src="../Utilities/bootstrap.min.js"></script>
  <script type="text/javascript" src="../JavaScript/createAccount.js"></script>
  <link rel="stylesheet" type="text/css" href="CSS/degree-me.css"/>
</head>
<body>
 <div class="jumbotron">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <img alt="Computer Science Logo" class="logo" src="Images/mcla-logo.png"> Computer Science
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <form id="accountInfo" method="GET">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="content">
            <h2 class="heading">Account Info</h2>
            <div class="row">
              <div class="col-xs-4">
                <label>A Number</label>
                <input type="text" class="form-control text" id="aNumber" placeholder="A Number" name="aNumber"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>Password</label>
                <input type="password" class="form-control text" id="password" placeholder="Password" name="password"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>Confirm Password</label>
                <input type="password" class="form-control text" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
          </div>
          <div class="content">
            <h2 class="heading">User Info</h2>
            <div class="row">
              <div class="col-xs-4">
                <label>First Name</label>
                <input type="text" class="form-control text" id="firstName" placeholder="First Name" name="firstName"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>Last Name</label>
                <input type="text" class="form-control text" id="lastName" placeholder="Last Name" name="lastName"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>Email</label>
                <input type="email" class="form-control text" id="email" placeholder="Email" name="email"/>
              </div>
              <div class="col-xs-8"></div>
            </div>
          </div>
          <div class="row content submit">
            <div class="col-xs-4">
              <button type="button" class="btn btn-primary" value="submit" id="submit-button">Submit</button>
              <a href="index.html"><button type="button" class="btn btn-primary" value="cancel" id="cancel-button">Cancel</button></a>
            </div>
            <div class="col-xs-8"></div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </form>
</body>
</html>
