<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Degree-Me!</title>

    <script type="text/javascript" src="../Utilities/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../Utilities/bootstrap.min.css">
    <script type="text/javascript" src="../Utilities/bootstrap.min.js"></script>
    <script type="text/javascript" src="../JavaScript/index.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/degree-me.css"/>
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <img alt="Computer Science Logo" class="logo" src="Images/mcla-logo.png"> Computer Science
        </div>
        <div class="col-md-1"></div>
        <div class="login">
          <div class="col-md-3">
            <input type="text" class="form-control loginHide" id="aNumber" placeholder="A-Number" name="aNumber">
            <span class="loginHide">(e.g. a12345678)</span>
          </div>
         <!-- This col is good for the login at 3, but needs to be 4 to look right when logged in. If you want
          to take a look at it. I think we could just make the password field shorter, but I'm not that great with html.-->
        <div class="col-md-3">
          <input type="password" class="form-control loginHide password" id="password" placeholder="Password" name="password">
          <div class="welcome" hidden>
            Welcome, <span class="name" id="name"></span>
            <button type="button" id="logout-button" class="btn btn-warning welcome" value="logout">Logout</button>
            <button type="button" id="edit-button" class="btn btn-warning welcome" value="edit">Edit</button>
          </div>
        </div>

      </div>
        <div class="col-md-1">
          <button type="button" id="login-button" class="btn btn-primary loginHide" value="login">Login</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-7">
          <div class="content">
            <h2 class="heading">Degree Me!</h2>
            <p class="heading">Degree Me is a website designed to help MCLA Computer Science students to access the classes needed to graduate with a Bachelor's of Science in
            any concentration offered at the college. Users will be able to edit and view classes they have taken, view prerequisites for courses, and view classes that need to
            be taken. Imagine if MCLA Banner was more useful and looked nicer.  Users will enter the classes they've already taken upon creating an account, and updating will be
            quick and simple. Click the button below to sign up now.</p>
            <div class="create-account-button" id="create-button">
              <p><center><a href="createAccount.html" class="btn btn-warning btn-lg create">Create Account</a></center>
            </div>
            <div class="better">
              <center><img class="better" src="Images/Slogan.jpg" alt="Better than Banner" /></center>
            </div>

            <h2  class="heading">About the Department</h2>
            <p>The Department of Computer Science offers a four-year program leading to a Bachelor of Science in Computer Science. Students majoring in computer science will
            choose to focus their studies in one of four areas of concentration: software development, information technology, business information systems, and bioinformatics.</p>

            <p><strong>The Software Development Concentration</strong> prepares students for careers as software developers or for graduate study in computer science.
            This concentration consists of a solid core of computer science theory as well as several courses in computer programming utilizing a wide variety of
            programming languages. For a detailed list of this program's requirements consult the Software Development Concentration Checklist.</p>

            <p><strong>The Information Technology Concentration</strong> prepares students for a variety of careers in computing including information security,
            networking, system and database administration, and business application development. This concentration consists of courses in security, networking,
            database, hardware, and computer programming. For a detailed list of this program's requirements consult the Information Technology Concentration Checklist.</p>

            <p><strong>The Business Information Systems Concentration</strong> is an interdisciplinary concentration that prepares students for a career in
            information systems management or technology entrepreneurship. This concentration consists of courses in information systems, systems analysis,
            database, business application development, accounting, and management. For a detailed list of this program's requirements consult the Business
            Information Systems Concentration Checklist.</p>

            <p><strong>The Bioinformatics Concentration</strong> is an interdisciplinary concentration that prepares students for careers in bioinformatics and
            data science, or for graduate study in these areas. This concentration consists of courses in biology, database, parallel computing, algorithms,
            and computer programming. For a detailed list of this program's requirements consult the Bioinformatics Concentration Checklist.</p>

            <p>Student learning outcomes for all four concentrations, as well as all academic programs at MCLA, can be found here.</p>

            <h2  class="heading">Meet Your Professors!</h2>
            <img class="pic" src="Images/mike.png" title="Fabulous" alt="Mike Dalton"/>
            <img class="pic" src="Images/markcohen.png" title="Magical Unicorn" alt="Mark Cohen"/>
            <img class="pic" src="Images/johnridgway.jpg" title="Newbie" alt="John Ridgway"/>
            <img class="pic" src="Images/dave.png" title="He's not ALL Business" alt="David Eve"/>
          </div>
        </div>

        <div class="col-md-3 links">
          <h2>Links</h2>
          <ul>
            <li id="csCourses"><a href="courses.html">Computer Science Courses</a></li>
            <!--using the registrar's page so that it won't have to change every year-->
            <li><a href="http://www.mcla.edu/Academics/registrar/">Current Catalogue</a></li>
            <li><a href="http://sso.mcla.edu">Single Sign On (SSO)</a></li>
            <li><a href="https://banweb.mcla.edu:4445/PRD8/twbkwbis.P_WWWLogin">The Lesser One (Banner)</a></li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 pictures"></div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
</html>
