/*GENERAL STYLING*/
body{
    width: auto;
    margin: 0;
    background-color: #CCCCCC;
}

.row{
    margin: 0;
    padding: 0;
    width: 100%;
}

.noresize{
    width: auto !important;
}

/*HEADER*/
.jumbotron{
    z-index: 5;
    margin: 0;
    width: 100%;
    padding: 1% 0 1% 0 ;
    background-color: #001C8C;
    color: #F1BC00;
    font-size: 1.3em;
}

.logo{
    width: 222px;
    height: 56px;
}

.login{
}

.form-control text :required{
}

.better{
    font-size: 8em;
    color: #001C8C;
    width: 100%;
    height: auto;
}

.container{
    padding-top: 0;
    width: auto;
}

.content{
    margin: 0;
    padding: 2% 3% 3% 3%;
    background-color: #FFFFFF;
    width: 100%;
}

.contentTable{
    margin: 0;
    padding: 2% 3% 3% 3%;
    background-color: #FFFFFF;
    width: 100%;
    min-width: 700px;
}

.create{
    text-align: center;
}

.create-account-button{
    width: 100%;
    background-color: #001C8C;
    padding: 2% 0 3% 0;
}

.heading{
    color: #001C8C;
}

.links{
    background-color: #F1BC00;
    color: #000000;
    margin-left: 2px;
    padding-top: 1%;
    padding-left: 2px;
}

.image{
    width: 500px;
    height: auto;
}

.pictures{
    background-color: #FFFFFF;
}

.pic{
    height: 182px;
    width: auto;
    padding-right: 2%
}

#content-controller-heading {
  margin: 10px 0px 30px 0px;
}

.content-option {
  margin: 0px 0px 25px 0px;
}

.dropdown {
  float: right;
}

#course_table_filter {
    float: left;
}
.course_table{
    min-width: 667px; 
}
